*{
	box-sizing: border-box;
}

body{
	background-color: #252850;
	color:white;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}


/*HEADER(top-side) AND FOOTER */
#top, #footer{
	background-color: rgba(0,0,0,.4);
	height: 50px;
}

/*HEADER*/
#header h1{
	margin-top: 20px;
	text-shadow: 1px 1px 1px #222;
	text-align: center;
	padding:20px;
	background-color: rgba(0,0,0,.4);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

/*TILES*/
.tile{
	width:300px;
	height:300px;
	border:0.5px solid rgba(0,0,0,.3);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: -10px 5px 15px rgba(0,0,0,.4);
	position: relative;
}

.tile-link, .tile-link:hover, .tile-link:active, .tile-link:focus{
	color:white;
	text-decoration: none;
}

.tile-title{
	position:absolute;
	bottom:0;
	right:0;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	padding:10px; 
	font-weight: lighter;
}

#tile1{
	background: url("../ph/tiles.png") no-repeat;
}
#tile2{
	background: url("../ph/tiles.png") no-repeat;
}
#tile3{
	background: url("../img/filosofos.jpeg") center;
}

/*FOOTER*/
footer{
	position: relative;
}

#footer{
	margin-top: 50px;
}


/*Medium devices*/
@media (min-width: 768px) and (max-width: 991px){
	#tile3{
		width:95%;
		background: url("../img/filosofos.jpeg") center;
	}
}

/*small devices*/
@media (max-width:576px ){
	.tile{
		width: 95%;
		margin-bottom: 10px;
	}
	#tile1{
		background: url(../ph/tiles.png) repeat;
	}
	#tile2{
		background: url(../ph/tiles.png) repeat;
	}
	#tile3{
		background: url("../img/filosofos.jpeg") center;
	}
}