*{
	box-sizing: border-box;
}

body{
	background-color: #252850;
	color:white;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}


/*TOP AND BOTTOM WRAPPER*/
#top, #bottom{
	background-color: rgba(0,0,0,.4);
	height: 50px;
}

/*HEADER*/
#header-title{
	text-align:center;
	margin-top: 20px;
}
#header-bottom{
	margin-top: 20px;
	text-shadow: 1px 1px 1px #222;
	text-align: center;
	padding-top:30px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,.4);
	width: 150px;
	height:122px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 200px 200px 10px 10px;
}

#header-bottom span{
	font-style: italic;
	color:gray;
}

.line-top{
	width:50%;
	background-color: rgba(0,0,0,.4);
	height: 15px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}

.line-bottom{
	width:50%;
	background-color: rgba(0,0,0,.4);
	height: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	border-radius: 100px;
}

/*TILES*/
.tile{
	width:300px;
	height:300px;
	border:0.5px solid rgba(0,0,0,.3);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	/*box-shadow: -10px 5px 15px rgba(0,0,0,.4);*/
	box-shadow: -10px 5px 35px rgba(0,0,0,.4);
	position: relative;
}

.tile-link, .tile-link:hover, .tile-link:active, .tile-link:focus{
	color:white;
	text-decoration: none;
}

.tile-link:hover{
	box-shadow: 10px 10px 10px rgba(0,0,0,.4);
	text-shadow: -2px 1px 1px rgba(0,0,0,.9);
	font-style: italic;
}

.tile-title{
	position:absolute;
	bottom:0;
	right:0;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	padding:10px; 
	font-weight: lighter;
}

#tile1{
	background: url("../img/res/1.png") center;
}

#tile1:hover{
	/*box-shadow: -10px 5px 35px rgba(0,0,0,.4);*/
	box-shadow: -10px 5px 15px rgba(0,0,0,.4);
}
#tile2:hover{
	/*box-shadow: -10px 5px 35px rgba(0,0,0,.4);*/
	box-shadow: -10px 5px 15px rgba(0,0,0,.4);
}
#tile3:hover{
	/*box-shadow: -10px 5px 35px rgba(0,0,0,.4);*/
	box-shadow: -10px 5px 15px rgba(0,0,0,.4);
}

#tile2{
	background: url("../img/res/3.jpg") center;
}

#tile3{
	background: url("../img/res/2.png") center;
}

/*closing capsule*/
#capsule-title{
	text-align:center;
	margin-top: 20px;
}
#capsule-bottom{
	text-shadow: 1px 1px 1px #222;
	text-align: center;
	padding-top:30px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,.4);
	width: 150px;
	height:122px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 200px 200px;
}

#capsule-bottom span{
	/*font-style: italic;*/
	color:gray;
}

/*FOOTER*/
footer{
	position: relative;
}

#bottom{
	margin-top: 20px;
}


/*Medium devices*/
@media (min-width: 768px) and (max-width: 991px){
	#tile3{
		width:95%;
		background: url("../img/opcional/filosofos.jpeg") center;
		margin-top: 10px;
	}
}

/*small devices*/
@media (max-width:576px ){
	#tile1{
		background: url("../img/res/1.png") repeat center;
	}
	#tile2{
		background: url("../img/res/3.jpg") repeat center;
	}
	#tile3{
		background: url("../img/res/2.png") repeat center;
	}
}